body {
    background-color: white;
}

.table_row td{
    overflow: auto !important;
    word-break: break-all;
}

.total_price{
    word-break: normal !important;
}

.item_name{
    font-weight: bold;
    font-style: italic;
}