/*Global*/
*{
    font-family: 'Roboto Condensed', sans-serif;
}

/* Styling for pre-loading image */
#loadingImg img {
    width: 35%; 
    margin: auto;
}

#loadingImg h5 {
    margin-top: -3%;
    text-align: center;
    color: gray;
    font-weight: bold;
}

/* Navigator */
#navigator{
    background:radial-gradient(circle farthest-corner at left,#0d1449,#051f5c);
    color: white;
}

.header1 {
    font-size: 190%;
    font-weight: bold;
    display:inline-block
}

.header_searhing input, .header_searhing input::placeholder{
    background-color: #0d14496c;
    color: rgb(255, 255, 255);
}

.header_searhing button{
    color: #fff;
    background-color:#0d14496c;
}

#navlist, .navlist{
    background-color:#051f5c;
    color: white;
    font-weight: bold;
    border: 0;

}

/* */

/* Footer */
.footerBg{
    background:radial-gradient(circle farthest-corner at left,#0d1449,#000000);
    color: white;
    width: 100%;
}

/********** Super extra small devices) **********/
@media (max-width: 800px) {
    /* Navigator */
    .header1 {
        font-size: 140%;
    }


}