#main{
    margin-top: 85px;
}

#shopping_Detail{
    background: white;
    color: black;
    width: 270px;
}




.checkoutButton{
   margin-left: 60%;  
   margin-top: -5%;
}

/* Shopping list */
.checkoutButton > button{
    color: white;
    background-color: #051f5c;
}

#shopping_List{
    height: 35px;
    overflow: hidden
 }

 .shoppingList_Item{
    font-size: 87%
 }

.shopping_num{
    height: 20px;
}

#shopping_List:hover #shopping_Detail{
   height: auto;
   width: 300px;
   position: absolute;
   z-index:99999;
}

#shopping_details_order_total{
    color: #051f5c;
}

.checkoutButton > button {
    width: 110px;
    height: 30px;

}

.shopping_name{
    font-weight: bold;
}


/* URL path */

#path{
    font-size: 150%;
}

.card-img-top{
    height: 200px;
}

aside > h4 {
    background-color: #051f5c;
}

.shopping_detail_amount{
    margin-top: 4px;
}

.product_card_display{
    height: 380px !important;
}

/* .product_card_display a img{
    height: 200px !important;
    width: 200px !important;
} */

.product_card_display_button{
    height: 35px !important;
}

.card_display_body{
    padding-bottom: 4px;
}

.card_display_body > div{
    padding-left: 4px !important;
    padding-right: 4px !important;
    height: 125px !important;
    overflow: auto !important;
}

#productDetailImg{
    height: 400px !important;
    width: 400px !important;
}

#productDetailDesc{
    height: 200px !important;
}

#LoadingMoreProduct{
    height: 60px !important;
}

#LoadingMoreProduct_animation{
    height: 60px !important;
    width: 100%;
    margin: auto !important;
}

