#main{
    margin-top: 85px;
}

#shopping_Detail{
    background: white;
    color: black;
    width: 270px;
}

.checkoutButton{
   margin-left: 60%;  
   margin-top: -5%;
}

.checkoutButton > button{
    color: white;
    background-color: #051f5c;
}


#shopping_List{
    height: 35px;
    overflow: hidden
 }

#shopping_List:hover #shopping_Detail{
   height: 182px;
   position: absolute;
   z-index:99999;
}

#path{
    font-size: 150%;
}

.card-img-top{
    height: 200px;
}

aside > h4 {
    background-color: #051f5c;
}

.shopping_detail_amount{
    margin-top: 4px;
}

.product_card_display{
    height: 380px !important;
}