#main{
    margin-top: 85px;
}

.user_order_item{
    font-size:12px
}

.user_order_info{
    font-size:116%;
    font-style: italic;
    text-decoration: underline;
}

.user_order_title{
    font-size:120%;
    font-weight: bold;
}

.user_order_item_header{
    font-weight: bold;
}

.card-text_p{
    margin-bottom: 5px !important;
    margin-left: 5px !important;
    font-size:99% !important;
}

.total_value{
    font-weight: bold;
}
