/*Global*/
*{
    font-family: 'Roboto Condensed', sans-serif;
}

/* Styling for pre-loading image */
#loadingImg img {
    width: 35%; 
    margin: auto;
}

#loadingImg h5 {
    margin-top: -3%;
    text-align: center;
    color: gray;
    font-weight: bold;
}